<template>
  <div class="home">
    <HelloWorld msg="Welcome to your carousel challenge"/>
    <Carousel v-bind:categories="categories"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Carousel from '@/components/Carousel.vue'

export default {
  name: 'Home',
  data() {
    return {
      categories: [
        {
          "id": "1",
          "author": "Jordan McQueen",
          "text": 'Category 1',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/1037/5760/3840"
        },
        {
          "id": "2",
          "author": "Marcelo Quinan",
          "text": 'Category 2',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/1038/3914/5863"
        },
        {
          "id": "3",
          "author": "Andrew Coelho",
          "text": 'Category 3',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/1039/6945/4635"
        },
        {
          "id": "4",
          "author": "Alejandro Escamilla",
          "text": 'Category 4',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/0/5616/3744"
        },
        {
          "id": "5",
          "author": "Rachel Davis",
          "text": 'Category 5',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/1040/4496/3000"
        },
        {
          "id": "6",
          "author": "Tim Marshall",
          "text": 'Category 6',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/1041/5184/2916"
        },
        {
          "id": "7",
          "author": "Jeremy Thomas",
          "text": 'Category 7',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/1042/3456/5184"
        },
        {
          "id": "8",
          "author": "Christian Joudrey",
          "text": 'Category 8',
          "url": "/cat/",
          "download_url": "https://picsum.photos/id/1043/5184/3456"
        }
      ]
    }
  },
  components: {
    HelloWorld,
    Carousel
  }
}
</script>
