<template>
  <a v-bind:href="href" class="carouselImage">
    <div class="carouselImageInner" v-bind:style="style">
      <span>{{category.text}}</span>
    </div>
  </a>
</template>

<script>
export default {
  name: "CarouselImage",
  props: {
    category: Object
  },
  computed: {
    style() {
      return {
        backgroundImage: `url(${this.category.download_url
          .match(/(.*)id\/(\d)+/g)
          .shift() + "/400"})`
      };
    },
    href() {
      return this.category.url + this.category.id
    }
  }
};
</script>

<style scoped lang="scss">
.carouselImage {
  align-self: center;
  user-select: none;
  box-sizing: border-box;
  border: 0.25rem solid transparent;
  .carouselImageInner {
    width: 100%;
    border-radius: 1.5em;
    &:after {
      content: "";
      display: inline-block;
      padding-bottom: 100%;
    }
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: left;
    position: relative;
    span {
      position: absolute;
      bottom: 0px;
      display: inline-block;
      color: white;
      font-size: 1em;
      padding: 1em;
    }
  }
  width: 50%;
}

@media (min-width: 768px) {
  .carouselImage {
    width: 25%;
  }
}
</style>
