<template>
  <div class="carousel">
    <div class="carouselMask">
      <transition name="slider" v-on:after-leave="afterLeave" v-on:after-enter="afterEnter">
        <div v-show="slide" class="carouselSlider">
          <div class="carouselInner page1" v-bind:class="{ offscreen: offscreen === 'page1' }">
            <CarouselImage
              v-for="category in categories.slice(0, 4)"
              v-bind:key="category.id"
              v-bind:category="category"
            ></CarouselImage>
          </div>
          <div class="carouselInner page2" v-bind:class="{ offscreen: offscreen === 'page2' }">
            <CarouselImage
              v-for="category in categories.slice(4, 8)"
              v-bind:key="category.id"
              v-bind:category="category"
            ></CarouselImage>
          </div>
        </div>
      </transition>
    </div>
    <CarouselCtrl
      class="carouselCtrl carouselPrevious"
      text="less categories"
      v-bind:class="{ disabled: disabledPrevious }"
      v-on:click="onPrevious"
    ></CarouselCtrl>
    <CarouselCtrl
      class="carouselCtrl carouselNext"
      text="more categories"
      v-bind:class="{ disabled: disabledNext }"
      v-on:click="onNext"
    ></CarouselCtrl>
  </div>
</template>

<script>
import CarouselImage from "@/components/CarouselImage.vue";
import CarouselCtrl from "@/components/CarouselCtrl.vue";

export default {
  name: "Carousel",
  components: {
    CarouselImage,
    CarouselCtrl
  },
  props: {
    categories: Array
  },
  data() {
    return {
      slide: false,
      offscreen: 'page2',
      disabledPrevious: true,
      disabledNext: false
    };
  },
  methods: {
    afterEnter: function() {
      this.offscreen = 'page1';
    },
    afterLeave: function() {
      this.offscreen = 'page2';
    },
    onPrevious() {
      if (this.disabledPrevious) {
        return;
      }
      this.disabledPrevious = true;
      this.disabledNext = false;
      this.slide = false;
    },
    onNext() {
      if (this.disabledNext) {
        return;
      }
      this.disabledPrevious = false;
      this.disabledNext = true;
      this.slide = true;
    }
  }
};
</script>

<style scoped lang="scss">
.carousel {
  position: relative;
  width: 100%;
}
.carouselMask {
  position: relative;
  overflow: hidden;
  margin: 0px 25px;
}
.carouselSlider {
  display: block !important;
  transform: translate(0, 0);
  &.slider-enter-active,
  &.slider-leave-active {
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
  &.slider-enter-to {
    transform: translate(0, -100%);
  }
  &.slider-leave-to {
    transform: translate(0, 100%);
  }
}
.carouselInner {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  &.offscreen {
    position: absolute;
    &.page1 {
      top: -100%;
    }
    &.page2 {
      top: 100%;
    }
  }
}

@media (min-width: 768px) {
  .carousel {
    width: 75%;
    margin-left: calc(25% / 2);
  }
  .carouselSlider {
    &.slider-enter-to {
      transform: translate(-100%, 0);
    }
    &.slider-leave-to {
      transform: translate(100%, 0);
    }
  }
  .carouselInner {
    &.offscreen {
      top: 0px !important;
      &.page1 {
        right: 100%;
      }
      &.page2 {
        left: 100%;
      }
    }
  }
}
</style>
