<template>
  <a v-on:click="$emit('click')">
    <svg class="desktop" xmlns:svg="http://www.w3.org/2000/svg" viewBox="0 0 350 350" height="50" width="50">
      <path d="M 0,0 V 350.65421 H 175.28037 C 271.9302,350.65421 350,271.64983 350,175 350,78.350169 271.64983,0 175,0 h -0.12695 z" fill="#fff" />
      <path d="M 0,175.00001 150,50 v 97.15186 l 150,0.23389 v 54.89883 l -150,0.56355 V 300 Z" fill="#000" />
    </svg>
    <div class="mobile">{{text}}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 407.436 407.436" height="25" width="25">
        <polygon points="203.718,91.567 0,294.621 21.179,315.869 203.718,133.924 386.258,315.869 407.436,294.621 "/>
      </svg>
    </div>
  </a>
</template>

<script>
export default {
  name: "CarouselCtrl",
  props: {
    text: String
  },
}
</script>

<style scoped lang="scss">
.carouselCtrl {
  cursor: pointer;
  user-select: none;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 100%;
  svg.desktop {
    display: none;
  }
  div.mobile {
    font-size: 1.5em;
  }
  &.carouselPrevious svg {
    transform: translateY(5px);
  }
  &.carouselNext svg {
    transform: translateY(5px) rotate(180deg);
  }
  &.disabled {
    display: none;
  }
}

@media (min-width: 768px) {
  .carouselCtrl {
    width: 50px;
    height: 20%;
    top: 50%;
    transform: translateY(-50%);
    svg.desktop {
      display: block;
      width: 50px;
      height: 100%;
    }
    div.mobile {
      display: none;
    }
    &.carouselPrevious {
      left: 0.9em;
      svg {
        transform: rotate(0deg);
      }
    }
    &.carouselNext {
      right: 0.9em;
      svg {
        transform: rotate(180deg);
      }
    }
    &.disabled {
      display: block;
      svg path:last-child {
        opacity: 0.25;
      }
    }
  }
}
</style>
